*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    font-family: 'Permanent Marker', serif;
    background-color: #F96E46;
}

.container
{
    background-color: #F9C846;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    
}
.logo
{
    height: 100px;
    margin-left: 30px;

}
.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-lista
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    list-style:none; 
    
}
li{
   display: flex; 
   text-align: center;
   
}
a
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDE74C;
    height: 70px;
    width: 150px;
    border-radius: 40px;
    text-decoration: none;
    color: black;
}

a:hover
{
    background-color: #E3655B;
}