@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

:root
{
    --background-navbar: #F9C846;
    --background-body: #F96E46;
    --background-a: #FDE74C;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container
{
    background-color:var(--background-navbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: -1px 2px 10px black;
    

    
}
.logo
{
    height: 90px;
    margin-left: 30px;

}
.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    /*font-family: 'Permanent Marker', serif;*/
    font-family: 'Rubik Marker Hatch', cursive;
    
}

.navbar-lista
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
    list-style:none; 
    
}
.navbar-lista li{
   display: flex; 
   text-align: center;
   
}
.navbar-lista a
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--background-a);
    height: 60px;
    width: 150px;
    border-radius: 40px;
    text-decoration: none;
    color: black;
}

.navbar-lista a:hover
{
    /*background-color: #E3655B;*/
    background-color: #00E8FC;
}
.container-carrito
{
    padding: 10px;
    background-color: var(--background-a);
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    margin-right: 20px;
    cursor: pointer;
}
#carrito
{
    display: none;
}
.container-carrito:hover
{
    background-color: #00E8FC;
}
.container-carrito img
{
    width: 40px;
}
.lista-cart
{
    position: absolute;
    top: 94px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(var(--background-navbar),#f9b246,#f99b46,var(--background-body));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    border-left: 1px solid black;
    box-shadow: -1px 15px 10px black;
    display: none;
}
.lista-cart::-webkit-scrollbar
{
    display: none;
}
.lista-cart h2
{
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Silkscreen', cursive;
}
.item-burger img
{
    width: 100px;
}
.item-burger
{
    display: flex;
    background-color: #5efc8d;
    padding: 25px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    border-radius: 15px;
}
.burger-info
{
    display: flex;
    flex-direction: column;
}
.burger-info h3
{
    font-size: 20px;
    color: #ef233c;
    font-family: 'Silkscreen', cursive;
}
.burger-handler
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.decrementar,.incrementar
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    border-radius: 15px;
    background-color: var(--background-a);
    border: 1px solid black;
    font-size: 25px;
    cursor: pointer;
}
.burger-handler span:hover
{
    background-color: #00E8FC;
}
.container-opciones
{
    display: flex;
    width: 100%;
    align-items: center;
}
.container-opciones form
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.take-away,.envio
{
    background-color: #FDE74C;
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
}
.total-compra
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    gap: 20px;
}
.comprar
{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}
.comprar button
{
    width: 100%;
}
#carrito:checked + .lista-cart
{
    display: flex;
}
.menu-label img
{
    width: 50px;
    display: none;
}
#menu-toggle
{
    display: none;
}

main
{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    
}
.portada
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(var(--background-navbar),#f9b246,#f99b46,var(--background-body));
    padding-bottom: 70px;
}
.portada-info img{
    height: 40px;
    width: 40px;
}
.portada-img img{
    height: 520px;  
    border-radius: 15px;
}
.portada-info
{
    width: 50%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.portada-info h2
{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Silkscreen', cursive;
}
.portada-info p
{
    /*font-family: 'Rubik Iso', cursive;*/
    font-family: 'Rubik Marker Hatch', cursive;
    font-weight: 500;
    font-size: 20px;
}
.diviser
{
    border: 3px #59e800;
    border-style: outset;
}
.portada-img
{   
    padding: 20px;
    margin-top: 10px;
}
.link-redes
{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.link-redes a
{
    padding: 10px 70px;
    background-color: #FDE74C;
    border-radius: 15px;
}
.link-redes a:first-child,
.link-redes a:last-child
{
    background-color: #00E8FC;
}
.portada-producto
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    /*max-width: none;*/
    animation: Fondo 20s infinite linear;
}
@keyframes Fondo {
    0%{
        background: no-repeat center/100% url(https://www.perez-h.com/newsite/wp-content/uploads/2018/02/dscf6520-copia.jpg);
    }
    33%{
        background: no-repeat center/100% url(https://www.perez-h.com/newsite/wp-content/uploads/2018/02/dscf6520-copia.jpg);
    }
    34%{
        background: no-repeat center/100% url(https://www.perez-h.com/newsite/wp-content/uploads/2018/02/dscf4822.jpg);
    }
    66%{
        background: no-repeat center/100% url(https://www.perez-h.com/newsite/wp-content/uploads/2018/02/dscf4822.jpg);
    }
    67%{
        background: no-repeat center/100% url(https://conexionshow.com.ar/wp-content/uploads/2021/08/unnamed-3.jpg);
    }
    100%{
        background: no-repeat center/100% url(https://conexionshow.com.ar/wp-content/uploads/2021/08/unnamed-3.jpg);   
    }   
}

.portada-producto h2
{
    font-family: 'Silkscreen', cursive;
    margin-left: 40px;
    font-size: 40px;
    width: 50%;
    /*color: #59e800;*/
    color: #FFFFFF;
    text-decoration: underline;
}
.info 
{
    
    width: 50%;
    margin-right: 5px;
    text-align: center;
    /*color: #59e800;*/
    color: #FFFFFF;
    border-radius: 15px;
    font-family: 'Rubik Marker Hatch', cursive;
    font-weight: 800;
    font-size: 25px;
}
.productos
{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: linear-gradient(var(--background-body),#f99b46,#f9b246,var(--background-navbar));
}
.top-product
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productos h2
{
    font-family: 'Silkscreen', cursive;
    font-size: 40px;
}
.diviser-2
{
    border: 3px #59e800;
    border-style:outset;
    width: 100%;
}
.buttons-productos
{
    display: flex;
    flex-wrap: wrap ;
    gap: 25px;

}
.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    background-color: #FDE74C;
    border-style: none;
    border-radius: 30px;
    cursor: pointer;
}
.button img
{
    width: 40px;
}
.active
{
    background-color: #00E8FC;
}
.container-producto
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.producto
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 420px; 
    height: 520px;  
    background-color: #5efc8d;
}
.producto > img:first-child
{
    width: 420px;
}
.producto-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.producto-info h4
{
    font-size: 20px;
    font-family: 'Silkscreen', cursive;
    text-decoration: underline;
}
.producto-info p
{
    font-family: 'Rubik Marker Hatch', cursive;
    font-weight: 800;
}
.producto-bottom
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.producto-bottom button
{
    padding: 15px;
    font-size: 30px;
    border-style: none;
    background-color: #FDE74C;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Rubik Marker Hatch', cursive;
    font-weight: 800;
}
.producto-bottom button:hover
{
    background-color: #ef233c;
}

.diviser-3
{
    border: 4px outset #59e800;
    width: 95%;
}
 
.contacto
{
    background: linear-gradient(var(--background-navbar),#f9b246,#f99b46,var(--background-body));
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Silkscreen', cursive;
    padding: 20px;
}
.contacto h2
{
    text-align: center;
}
.locales img
{
    width: 20px;
}
.datos
{
    display: flex;
    justify-content: space-between;
}
.locales
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.local-1
{
    display: flex;
    flex-direction: column;
    background-color: #5efc8d;
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
}

footer
{
    background-color: #F96E46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer img{
    width: 90px;
}
footer p
{
    font-family: 'Silkscreen', cursive;
}
.diviser-4
{
    border: 4px outset #59e800;
    width: 100%;
}




